@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@theme {
  --font-heading: var(--font-space-grotesk);
  --color-navy: #0F1B3D;
  --color-gold: #FFB81C;
  --font-bebas: var(--font-bebas-neue);
  --font-space: var(--font-space-grotesk);
  --font-google: var(--font-google-sans-flex);
}